input[type=text],input[type=number],textarea{
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 5px;
  border:none;
  background: #ccc;
}


input[type=text]:focus,input[type=number]:focus,textarea:focus {
  background-color: #f1f1f1;
  outline: none;
}


.info{
	display: inline-block;
	background-color:white;
	margin-right:10%;
	margin-left:30%;
	margin-top:3%;
	padding:2%;
	box-shadow: 0 0 10px #990904;
}


button{
	
  background-color: #AD0503;
  margin-right:10%;
  margin-right:40%;
  margin-bottom:10%;
  color:white;
  padding:0.5%;
  width:100%;
  font-size:2em;
  border:none;
  border-radius: 5px;
}

.profile{
	
	display: inline-block;
	background-color:white;
	margin-right:10%;
	margin-left:30%;
	margin-top:3%;
	padding:2%;
	
}