body{
	margin-left:10%;
	margin-right:10%;
}

.head{
	display:flex;
}

img{
	flex-basis:30%;
}

.Restaurant{
	flex-basis:70%;
	padding:2%;
}

.write{
	border:1px solid black;
	padding:1%;
	margin-top:1%;
}