
#one{
	background-image: url("foodBg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	position: relative;
	padding:10%;
	font-size:2em;
}

body{
	margin-right:10%;
	margin-left:10%;
}

.container{
	display:flex;
}

.ResturantView{
	flex-basis:30%;
	padding:2%;
	border: 2px solid #990904;
	margin-left:2%;
	margin-right:2%;
}