
#one{
	background-image: url("foodBg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	position: relative;
	padding:10%;
	font-size:2em;
}

body{
	margin-right:10%;
	margin-left:10%;
}